<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level [%thread] [%class{50}:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.openid4java.server.RealmVerifier" level="ERROR"/>

	<if condition='isDefined("documentr.debug")'>
		<then>
			<logger name="de.blizzy.documentr" level="DEBUG"/>
		</then>
	</if>

	<root level="WARN">
		<appender-ref ref="stdout"/>
	</root>
</configuration>
