body {
	background-color: white;
}

.shared-page {
	color: gray;
}

textarea.code {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 12px;
}

.modal {
	width: 800px;
}

code {
	color: inherit;
	border: 0;
}

table.table-documentr {
	margin-bottom: 18px;
}

.hero-unit.hero-single {
	margin-top: 100pt;
}

.spacer {
	margin-top: 25pt;
}

.securityHiddenUI * {
	background-color: red !important;
}

.breadcrumb {
	background-color: #f0f0f0;
	background-image: -moz-linear-gradient(center top, #f5f5f5, #f0f0f0);
	border-radius: 0;
}

.breadcrumb ul {
	margin: 0;
}

.breadcrumb .btn-toolbar {
	margin: 0;
}
